@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  color: #efefef;
  font-family: "Architects Daughter", cursive;
  font-size: 100%;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: url("../images/paper.svg");
  background-size: cover;
  background-repeat: repeat-y;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  position: absolute;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  top: 5%;
  left: 26%;
}

h2 {
  color: red;
  font-size: 1rem;
  position: absolute;
  font-weight: bold;
  margin: 0;
  padding: 0;
  top: 11.5%;
  left: 25%;
}

.info {
  color: black;
  font-weight: bold;
  font-size: .7rem;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 16.2%;
  left: 24%;
}

.house {
  color: black;
  font-weight: bold;
  font-size: .7rem;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 32%;
  left: 50%;
}

.houses {
  fill:none;
  stroke: #000;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  width: 25%;
  position: absolute;
  top: 30%;
  left: 24%;
}

.smoke {
  fill: grey;
  position: absolute;
  transform: rotate(0deg);
  transition: all 300ms;
}

.smoke:hover {
  z-index: 1000;
  transform: rotate(-3deg);
}

.calendarfifty {
  color: black;
  font-weight: bolder;
  font-size: .7rem;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 66%;
  left: 24%;
  line-height: 130%;
  color: red;
}

.calendar-one {
  margin: 0;
  padding: 0;
  width: 25%;
  top: 72%;
  left: 10%;
  position: absolute;
}

.calendar-two {
  margin: 0;
  padding: 0;
  width: 25%;
  top: 72%;
  left: 40%;
  position: absolute;
}

.calendar-three {
  margin: 0;
  padding: 0;
  width: 25%;
  top: 72%;
  left: 70%;
  position: absolute;
}


.calendarfour {
  color: blue;
  font-weight: bolder;
  font-size: .7rem;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 81.5%;
  left: 24%;
  line-height: 130%;
}

.people {
  color: black;
  font-weight: bolder;
  font-size: .7rem;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 122%;
  left: 24%;
  line-height: 110%;
}

.pig {
  margin: 0;
  padding: 0;
  top: 31%;
  left: 10%;
  position: absolute;

}

.graph {
  margin: 0;
  padding: 0;
  top: 84%;
  position: absolute;
  width: 80%;
  left: 15%;
}

.black {
  width: 4.8%;
  position: absolute;
  top: 117%;
  z-index: 1000;
  left: 25%;
}

.st6 {
  fill: #FFF;
}

.st1 {
  fill: none;
  stroke: #231F20;
  stroke-width: 2.6719;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #231F20;
}

.st3 {
  opacity: 0.49;
  fill: #F0ECA1;
  enable-background: new;
}

.st4 {
  fill: #D91C5C;
}

.white-one {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 31%;
}

.white-two {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 37%;
}

.white-three {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 43%;
}

.white-four {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 49%;
}

.white-five {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 55%;
}

.white-six {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 61%;
}

.white-seven {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 67%;
}

.white-eight {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 73%;
}

.white-nine {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 79%;
}
