@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  color: #efefef;
  font-family: "Architects Daughter", cursive;
  font-size: 100%;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: url("../images/paper.svg");
  background-size: cover;
  background-repeat: repeat-y;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  position: absolute;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  top: 5%;
  left: 26%;
}

h2 {
  color: red;
  font-size: 1rem;
  position: absolute;
  font-weight: bold;
  margin: 0;
  padding: 0;
  top: 11.5%;
  left: 25%;
}

.info {
  color: black;
  font-weight: bold;
  font-size: .7rem;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 16.2%;
  left: 24%;
}

.house {
  color: black;
  font-weight: bold;
  font-size: .7rem;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 32%;
  left: 50%;
  color: red;
}

.houses {
  fill:none;
  stroke: #000;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  width: 25%;
  position: absolute;
  top: 30%;
  left: 24%;
}

.smoke {
  fill: grey;
  position: absolute;
  transform: rotate(0deg);
  transition: all 300ms;
}

.smoke:hover {
  z-index: 1000;
  transform: rotate(-3deg);
}

.calendarfifty {
  font-weight: bolder;
  font-size: .7rem;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 66%;
  left: 24%;
  line-height: 130%;
  color: blue;
}

.calendar-one {
  margin: 0;
  padding: 0;
  width: 25%;
  top: 72%;
  left: 10%;
  position: absolute;
  transform: rotate(-4deg);
}

.calendar-two {
  margin: 0;
  padding: 0;
  width: 25%;
  top: 72%;
  left: 40%;
  position: absolute;
}

.calendar-three {
  margin: 0;
  padding: 0;
  width: 25%;
  top: 72%;
  left: 70%;
  position: absolute;
  transform: rotate(4deg);
}

.calendarfour {
  color: blue;
  font-weight: bolder;
  font-size: .7rem;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 81.5%;
  left: 24%;
  line-height: 130%;
}

.people {
  color: red;
  font-weight: bolder;
  font-size: .7rem;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 122%;
  left: 24%;
  line-height: 110%;
}

.pig {
  margin: 0;
  padding: 0;
  top: 31%;
  left: 10%;
  position: absolute;

}

.graph {
  margin: 0;
  padding: 0;
  top: 84%;
  position: absolute;
  width: 80%;
  left: 15%;
}

.st6 {
  fill: #FFF;
}

.st1 {
  fill: none;
  stroke: #231F20;
  stroke-width: 2.6719;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #231F20;
}

.st3 {
  opacity: 0.49;
  fill: #F0ECA1;
  enable-background: new;
}

.st4 {
  fill: #D91C5C;
}

.black {
  width: 4.8%;
  position: absolute;
  top: 117%;
  z-index: 1000;
  left: 25%;
}

.white-one {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 31%;
}

.white-two {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 37%;
}

.white-three {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 43%;
}

.white-four {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 49%;
}

.white-five {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 55%;
}

.white-six {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 61%;
}

.white-seven {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 67%;
}

.white-eight {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 73%;
}

.white-nine {
  fill: none;
  width: 5%;
  stroke: #000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  position: absolute;
  top: 117%;
  left: 79%;
}

.pulse {
	animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
 }
  50% {
    transform: scale(0.8);
 }
  100% {
    transform: scale(1);
 }
}

@media only screen and (min-width:28em) {
  h1 {
    font-size: 3rem;
    top: 3%;
    left: 20%;
  }

  h2 {
    font-size: 1.5rem;
    left: 20%;
    top: 12.5%;
  }

  .info {
    top: 20%;
    left: 20%;
  }

  .houses {
    left: 17%;
    width: 30%
  }

  .house {
    font-size: 1rem;
    top: 35%;
  }

  .pig {
    top: 33%;
    width: 110%;
    left: 2%;
  }

  .calendarfifty {
    top: 87%;
    right: 10%;
    font-size: 1rem;
  }

  .calendar-one {
    top: 96%;
    left: 10%;
  }

  .calendar-two {
    top: 96%;
    left: 40%;
    position: absolute;
  }

  .calendar-three {
    top: 96%;
    left: 70%;
  }

  .calendarfour {
    top: 110%;
    font-size: 1rem;
    right: 10%
  }

  .graph {
    top: 115%;
  }

  .people {
    top: 170%;
    left: 20%;
    font-size: 1rem;
  }

  .black {
    width: 6%;
    top: 162%;
    left: 23%;
  }

  .white-one {
    width: 6%;
    top: 162%;
    left: 31%;
  }

  .white-two {
    width: 6%;
    top: 162%;
    left: 38%;
  }

  .white-three {
    width: 6%;
    top: 162%;
    left: 45%;
  }

  .white-four {
    width: 6%;
    top: 162%;
    left: 52%;
  }

  .white-five {
    width: 6%;
    top: 162%;
    left: 59%;
  }

  .white-six {
    width: 6%;
    top: 162%;
    left: 66%;
  }

  .white-seven {
    width: 6%;
    top: 162%;
    left: 73%;
  }

  .white-eight {
    width: 6%;
    top: 162%;
    left: 80%;
  }

  .white-nine {
    width: 6%;
    top: 162%;
    left: 87%;
  }
}

@media only screen and (min-width:48em) {
  h1 {
    font-size: 5.5rem;
    top: 3%;
    left: 20%;
  }

  h2 {
    font-size: 2.5rem;
    left: 20%;
    top: 20%;
  }

  .info {
    top: 29%;
    left: 20%;
    font-size: 1.3rem;
  }

  .houses {
    top: 48%;
    left: 25%;
    width: 20%
  }

  .house {
    font-size: 1.1rem;
    top: 70%;
    left: 20%;
    right: 45%;
    line-height: normal;
  }

  .pig {
    top: 33%;
    width: 55%;
    left: 52%;
  }

  .calendarfifty {
    top: 87%;
    left: 60%;
    right: 0%;
    font-size: 1rem;
  }

  .calendar-one {
    width: 12%;
    top: 96%;
    left: 57%;
  }

  .calendar-two {
    width: 12%;
    top: 96%;
    left: 71%;
  }

  .calendar-three {
    width: 12%;
    top: 96%;
    left: 85%;
  }

  .calendarfour {
    top: 109%;
    font-size: 1rem;
    left: 60%;
    right: 0;
  }

  .graph {
    top: 78%;
    width: 45%;
    left: 14%;
  }

  .people {
    top: 140%;
    left: 20%;
    font-size: 1.3rem;
  }

  .black {
    width: 6%;
    top: 125%;
    left: 23%;
  }

  .white-one {
    width: 6%;
    top: 125%;
    left: 31%;
  }

  .white-two {
    width: 6%;
    top: 125%;
    left: 38%;
  }

  .white-three {
    width: 6%;
    top: 125%;
    left: 45%;
  }

  .white-four {
    width: 6%;
    top: 125%;
    left: 52%;
  }

  .white-five {
    width: 6%;
    top: 125%;
    left: 59%;
  }

  .white-six {
    width: 6%;
    top: 125%;
    left: 66%;
  }

  .white-seven {
    width: 6%;
    top: 125%;
    left: 73%;
  }

  .white-eight {
    width: 6%;
    top: 125%;
    left: 80%;
  }

  .white-nine {
    width: 6%;
    top: 125%;
    left: 87%;
  }
}

@media only screen and (min-width:64em) {
  h1 {
    font-size: 8rem;
    top: 8%;
    left: 23%;
  }

  h2 {
    font-size: 4rem;
    left: 22%;
    top: 34%;
  }

  .info {
    top: 50%;
    left: 20%;
    right: 8%;
    font-size: 1.3rem;
  }

  .houses {
    top: 64.5%;
    left: 16%;
    width: 15%
  }

  .house {
    font-size: 1.5rem;
    top: 71%;
    left: 32%;
    right: 45%;
    line-height: normal;
  }

  .pig {
    top: 33%;
    width: 55%;
    left: 52%;
  }

  .calendarfifty {
    top: 112%;
    left: 62%;
    right: 4%;
    font-size: 1.3rem;
  }

  .calendar-one {
    width: 12%;
    top: 120%;
    left: 57%;
  }

  .calendar-two {
    width: 12%;
    top: 120%;
    left: 71%;
  }

  .calendar-three {
    width: 12%;
    top: 120%;
    left: 85%;
  }

  .calendarfour {
    top: 139%;
    font-size: 1.3rem;
    left: 62%;
    right: 5%;
  }

  .graph {
    top: 85%;
    width: 43%;
    left: 14%;
  }

  .people {
    top: 179%;
    left: 23%;
    font-size: 2rem;
  }

  .black {
    width: 6%;
    top: 158%;
    left: 23%;
  }

  .white-one {
    width: 6%;
    top: 158%;
    left: 31%;
  }

  .white-two {
    width: 6%;
    top: 158%;
    left: 38%;
  }

  .white-three {
    width: 6%;
    top: 158%;
    left: 45%;
  }

  .white-four {
    width: 6%;
    top: 158%;
    left: 52%;
  }

  .white-five {
    width: 6%;
    top: 158%;
    left: 59%;
  }

  .white-six {
    width: 6%;
    top: 158%;
    left: 66%;
  }

  .white-seven {
    width: 6%;
    top: 158%;
    left: 73%;
  }

  .white-eight {
    width: 6%;
    top: 158%;
    left: 80%;
  }

  .white-nine {
    width: 6%;
    top: 158%;
    left: 87%;
  }
}
